/* Подключение шрифтов */
@font-face {
   font-family: "Gilroy";
   src: url("../font/transfonter.org-20200917-114617/Gilroy-Medium.woff2") format("woff2"),
      url("../font/transfonter.org-20200917-114617/Gilroy-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy";
   src: url("../font/transfonter.org-20200917-114617/Gilroy-HeavyItalic.woff2") format("woff2"),
      url("../font/transfonter.org-20200917-114617/Gilroy-HeavyItalic.woff") format("woff");
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy";
   src: url("../font/transfonter.org-20200917-114617/Gilroy-ExtraBold.woff2") format("woff2"),
      url("../font/transfonter.org-20200917-114617/Gilroy-ExtraBold.woff") format("woff");
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy";
   src: url("../font/transfonter.org-20200917-114617/Gilroy-Bold.woff2") format("woff2"),
      url("../font/transfonter.org-20200917-114617/Gilroy-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy";
   src: url("../font/transfonter.org-20200917-114617/Gilroy-Regular.woff2") format("woff2"),
      url("../font/transfonter.org-20200917-114617/Gilroy-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy";
   src: url("../font/transfonter.org-20200917-114617/Gilroy-Thin.woff2") format("woff2"),
      url("../font/transfonter.org-20200917-114617/Gilroy-Thin.woff") format("woff");
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Gilroy";
   src: url("../font/transfonter.org-20200917-114617/Gilroy-Regular.woff2") format("woff2"),
      url("../font/transfonter.org-20200917-114617/Gilroy-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}


/* Обнуляющий стиль */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
ol li,
ul li {
   list-style: none;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
img {
   vertical-align: top;
}

body {
   min-height: 100%;
   font-size: 16px;
   line-height: 1;
   background: #111428;
   color: #FFFFFF;
   font-family: Gilroy;
}

/*---------*/

.wrapper {
   min-height: 100%;
   overflow: hidden;
   max-width: 445px;
   margin: 0 auto;
}

.title {
   position: relative;
   margin: 69px 0px 0px 0px;
}
h2 {
   font-weight: bold;
   font-size: 38px;
   line-height: 46px;

}
.subtitle {
   margin: 10px 0px 41px 0px;

   font-weight: 400;
   line-height: 19px;

   text-align: center;

   color: #64B369;
}
.form {
   position: absolute;
   z-index: 1;
   margin: 0px 0px 0px 30px ;
}

.input {
   border-radius: 5px !important;
}
.input__item, .input__item-email,
.input__item-password,
.input__item-password2,
.input__name,
.input__surname,
.input__email,
.input__login  {
   width: 384px;
   height: 50px;
}


::placeholder {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #777777;
   padding: 0px 0px 0px 20px;
}

.input:hover{
   border-radius: 5px;
}

.link{
   margin: 35px 0px 0px 0px;
   
}
.link a {
   font-weight: normal;
   line-height: 19px;
   color: #FFFFFF;
}
.link::before{
   content: "";
   background: url("../img/icon/arrow-left.svg") no-repeat;
   width: 20px;
   height: 20px;
   padding: 0px 30px 0px 0px;
}

.button_item {
   font-size: 0;
   opacity: 0;
}
.button__1{
   position: absolute;
   z-index: 2;
   width: 384px;
   height: 50px;
   top: 135px;
  

   background: #337AB7;
   border-radius: 5px;
   color: #FFFFFF;

   font-weight: bold;
   font-size: 23px;
   line-height: 29px;

   cursor: pointer;
}


.buttom span {
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;

   color: #FFFFFF;
   background: none;

}
.text {
   margin: 110px 0px 30px 0px;
   max-width: 311px;
   font-weight: normal;
   line-height: 19px;

   color: #AEAEAE;
}
.link__item,
.link__item-second-page {
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;

   text-align: center; 

   margin: 0px 0px 70px 0px;

}
.link__item a,
.link__item-second-page a {
   color: #FFFFFF;

}
.registration span {
   color: #64B369;
   margin: 0px 0px 0px 5px;

}

.border {
   position: absolute;
   left: -415px;
   width: 1216px;
   border-bottom: 1px solid #FFFFFF;
   
}

.input__item-email,
.input__item-password,
.input__item-password2,
.input__name,
.input__surname,
.input__email,
.input__login {
   display: block;
}
.input__item-email,
.input__item-password,
.input__name,
.input__surname,
.input__email,
.input__login {
   margin: 0px 0px 30px 0px;
}

.title__second-page,
.title__third-page {
   text-align: center;
   margin: 143px 0px 41px 0px;
}

.checkbox {
   position: relative;
	padding: 0px 0px 0px 20px;
}


.text__second-page{
   text-align: center;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;

   color: #FFFFFF;
   margin: 0px 0px 20px 0px;
}

.button__second-page{
   margin: 0px 0px 30px 0px;
}

.button__2{

   width: 384px;
   height: 50px;
   top: 135px;
  

   background: #337AB7;
   border-radius: 5px;
   color: #FFFFFF;

   font-weight: bold;
   font-size: 23px;
   line-height: 29px;

   cursor: pointer;
}


.buttom span {
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;

   color: #FFFFFF;
   background: none;

}

.checkbox {
	position: relative;
   padding: 0px 0px 0px 20px;
   margin: 0px 0px 30px 0px;
}
.checkbox__item {
	display: none;
}
.checkbox__item:checked + .checkbox__label::before {
	background: #fff url("../img/icon/check.svg") center / 80% no-repeat;
}

.checkbox__label {
   font-size: 18px;
   line-height: 21px;
   padding: 0px 0px 0px 10px;
	
}
.checkbox__label::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0px 10px 0px 0px;
   background-color: #fff;

   border-radius: 5px;
   
}

.checkbox a{
   position: absolute;
   z-index: 0;

   right: 0;

   font-size: 18px;
   line-height: 21px;

   color: #64B369;
}

.icon {
   display: inline-block;
   margin: 0px 0px 30px 105px;
}
.icon a{
   margin: 0px 30px 0px 0px;

}
.icon a:last-child {
   margin: 0px 0px 0px 0px;

}

.input__item-password2{
   margin: 0px 0px 18px 0px;
}

.gender__item {
   position: relative;
   display: inline-block;
   padding: 0px 0px 0px 20px; 
}
.gender__input {
   display: none;
}
.gender__input:checked + .gender__label::after{
  transform: scale(1);
}
.gender__label {
   padding: 0px 80px 0px 10px;
   font-size: 18px;

}

.gender__label::before{
   content: "";
	width: 20px;
	height: 20px;
   position: absolute;
   left: 0;
   top:-3px;
	margin: 0px 0px 0px 0px;
   background-color: #ffffff;

   border-radius: 5px;
}

.gender__label::after{
   transform: scale(0);
	transition: all 0.3s ease 0s;
   content: "";
   position: absolute;
   width: 12px;
   height: 12px;
   top: 1px;
   left: 3.7px;
   background-color:#337AB7;
   border-radius: 5px;
}


.form__gender {
   display: inline-block;
   margin: 0px 0px 31px 0px;
}


.checkbox2 {
	position: relative;
   padding: 0px 0px 0px 20px;
   margin: 0px 0px 30px 0px;
}
.checkbox__item2 {
	display: none;
}

.checkbox__label2 {
   font-size: 18px;
   line-height: 21px;
   padding: 0px 0px 0px 10px;
	
}
.checkbox__label2::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0px 10px 0px 0px;
   background-color: #fff;

   border-radius: 5px;
   
}
.checkbox__item2:checked + .checkbox__label2::before {
	background: #fff url("../img/icon/check.svg") center / 80% no-repeat;
}
.checkbox2 a{
   position: absolute;
   z-index: 0;

   left: 147px;

   font-size: 18px;
   line-height: 21px;

   color: #64B369;
}